<div class="d-flex justify-content-between p-2">
  <button type="button" class="btn btn-secondary">Close</button>
  <p class="h3" style="font-family: 'Times New Roman', Times, serif;">Finance Calculator<span></span></p>
  <span class="oi oi-info"></span>
  <button type="button" class="btn btn-primary">Submit</button>
</div>

<hr style="color: white;">

<div class="d-flex justify-content-between">
  <p>-</p>
  <select name="" id="" class="bg-dark text-light" style="border: none;outline: none;">
    <option value="" selected>Monthly Payment</option>
  </select>
</div>

<hr style="color: white;">

<div class="container g-3 p-3">
  <div class="row p-2">
    <div class="col">Total Invoice Amount</div>
    <div class="col">-</div>
    <div class="col">Vehicle MSRP</div>
    <div class="col">-</div>
  </div>
  <div class="row p-2">
    <div class="col">APR %</div>
    <div class="col">-</div>
    <div class="col">Finance Product</div>
    <div class="col">-</div>
  </div>
  <div class="row p-2">
    <div class="col">Finance Amount </div>
    <div class="col">-</div>
    <div class="col">Package</div>
    <div class="col">-</div>
  </div>
  <div class="row p-2">
    <div class="col">Terms </div>
    <div class="col">-</div>
    <div class="col">Campaign</div>
    <div class="col">-</div>
  </div>
</div>

<app-dealer></app-dealer>

<app-vehicle></app-vehicle>

<app-finance-form></app-finance-form>

<app-finance-parameter></app-finance-parameter>
