<div class="container p-3 ">
  <h3>Dealer</h3>
  <div class="row col-md-12 g-3">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="Salespersonphonenumber" class="form-label">Showroom</label>
      <select name="" id="" class="form-control bg-dark text-light">
        <option value="" selected>No Data</option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="Salespersonphonenumber" class="form-label">Salesperson</label>
      <select name="" id="" class="form-control bg-dark text-light">
        <option value="" selected>No Data</option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="Salespersonphonenumber" class="form-label">Salesperson phone number</label>
      <input type="text" class="form-control bg-dark text-light" id="Salespersonphonenumber">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="Salespersonphonenumber" class="form-label">Finance Manager</label>
      <input type="text" class="form-control bg-dark text-light" id="Salespersonphonenumber">
    </div>
  </div>
</div>
